<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Olrig Bank | {% block title %}Page Title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/offerings.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

    <header>
        <h1>Olrig Bank</h1>
    </header>

    <div class="container">
        <!-- Left Side Menu (Fixed) -->
        <aside class="side-menu">
            {% include "_partials/_menu.html" %}
        </aside>

        <!-- Main Scrollable Content -->
        <main class="content">
            {% include "_partials/_offerings.html" %}
        </main>
    </div>

    <footer>
        <p>&copy; 2025 Olrig Bank. All rights reserved.</p>
        <p>Version {{ version }}</p>
    </footer>

    <!--     Scripts-->
    <script src="{{ url_for('static', filename='js/scrolltrack.js') }}"></script>


</body>
</html>
