<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Olrig Bank{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav>
<ul>
      <li><a href="/whats_on">Whats On</a>
        <ul>
          <li><a href="/whats_on/farmers_market">Farmers Market</a>
          </li>
        </ul>
      </li>
      <li><a href="/local_attractions">Local Attractions</a>
        <ul>
          <li><a href="/local_attractions/castle_history">Castle History</a>
          </li>
        </ul>
      </li>
      <li><a href="/eating_out">Eating Out</a>
      </li>
      <li><a href="/local_walks">Local Walks</a>
      </li>
    </ul>
</nav>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
